<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Webpage</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
</head>
<body>


<!--<pre>{{console | json}}</pre>-->
<h1 class="display-3 text-center">JVM monitoring container App</h1>
<div class="container">
  <div class="row justify-content-center mt-5 mb-2">
    <h2>CPU Usage {{cpu}}</h2>

  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{cpu}}%"></div>
  </div>

  <div class="row justify-content-center mt-2">
    <p>
      Hi, I am a progress bar that shows the cpu usage of the JVM
    </p>

  </div>
  <hr class="hr-dark">
  <div class="row justify-content-center mt-5 mb-2">
    <h2>Memory usage Usage</h2>

  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: {{memory}}%"></div>
  </div>

  <div class="row justify-content-center mt-2">
    <p>
      Hi, I am a progress bar that shows the memory usage of the JVM :)
    </p>

  </div>
  <hr class="hr-dark">
  <div class="row justify-content-center mt-5 mb-2">
    <h2>Number of system processors</h2>

  </div>
  <h1 class="text-center"><span class="badge badge-secondary">{{processors}}</span></h1>

</div>


</body>
</html>
